@import '../../index.scss';


.top-btn{
    position: fixed;
    bottom: 2rem;
    right: .5rem;
    background: #ef5535;
    padding: .5rem;
    border-radius:50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // cursor: pointer;
    z-index: 9895;

    @include tab{
        height: 3rem;
        width: 3rem;
    }
   
    i{
        // width: 1rem;
        // height: 1rem;
        color: white;
        font-size: 1rem;

        @include tab{
            font-size: 2rem;
        }

       
    }



}



